.img {
  width: 250px;
  margin: 10px;
  cursor: pointer;
}
.video-player {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  border-radius: 8px;
  padding: 10px;
  width: 600px;
  height: 400;
}
.popup-close-btn {
  background-color: #ffffff;
  border: none;
  cursor: pointer;
  align-self: flex-end;
  outline: none;
}
@media screen and (max-width: 767px) {
  .img {
    width: 150px;
  }
  .video-player {
    padding: 5px;
    width: 100%;
    height: 300px;
  }
}
